<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @hatu.body %>
</p>

<p>
  <strong>Url:</strong>
  <%= @hatu.url %>
</p>

<p>
  <strong>Sonota:</strong>
  <%= @hatu.sonota %>
</p>

<p>
  <strong>User:</strong>
  <%= @hatu.user_id %>
</p>

<%= link_to 'Edit', edit_hatu_path(@hatu) %> |
<%= link_to 'Back', hatus_path %>
