<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @kaku.body %>
</p>

<p>
  <strong>Url:</strong>
  <%= @kaku.url %>
</p>

<p>
  <strong>Sonota:</strong>
  <%= @kaku.sonota %>
</p>

<p>
  <strong>Users:</strong>
  <%= @kaku.users_id %>
</p>

<%= link_to 'Edit', edit_kaku_path(@kaku) %> |
<%= link_to 'Back', kakus_path %>
